.navbar {
    background-color: $color-fondo;
  }
  
  .nav-link {
    font-size: 2rem;
    margin-top: 10px;
  }
  
  .navbar__btn {
    background-color: $color-gris;
  }
  
  .slide__nav {
    background-image: url(../img/bg-001.jpg);
  }
  