/* Inicio Caroulsel */
.hero__carousel {

  width: 100%;  

  .hero {
    width: 100%;
  }
}
  
.hero__img {
    img {
      border: $border-1;
    }
  
    filter: brightness(0.5);
    object-fit: contain;
}
 
  
.hero__text {
    
  h2 {
    font-size: 8vw;

  }
  p {
    font-size: 3vw;
    text-wrap: pretty;
  }

  
}


/* Fin Caroulsel */