/* Inicio del menu */
.menu {
    width: 100%;
  }
  
  .card__menu {
    width: 100%;
    background-color: $color-gris;
    margin-bottom: 20px;
    box-shadow: $color-gris;
    gap: 8px;
  }
  
  .btn__menu {
    padding: 10px 40px;
  }
  
  .card__img {
    height: 100px;

    img {
      object-fit: contain;
      transition: transform .25s, visibility .25s ease-in;

      &:hover {
        cursor: pointer;
        transform: scale(1.5);
      }
    }

  }
  
  .card__menu {
    h4 {
      font-size: 4vw;
      font-weight: bold;
      text-align: start;
    }
  
    p {
      font-size: 2.5vw;
      color: $color-gris;
    }

    
  }
  
/* Fin del menu */